.head {
    background-color: green;
}

a {
    background-color: black;
    color: white;
}

body {
    background-image: url("https://th.bing.com/th/id/OIP.OTGCVuGfg8BYoKkoG7dhuAHaEQ?pid=ImgDet&rs=1");
}